<%= render partial: 'users/partials/user_info', locals: {user: @user} %>

<div class="col-md-8">
  <% @posts.each do |post| %>
<div class="row">
  <h2><%= link_to post.title, post_path(user_id: post.user_id, id: post.id) %></h2>
  <p><%= post.content.split(" ")[0..50].join(" ") + "..."%><%=link_to "Read more"%></p>
</div>
  <% end %>

</div>
